.container {
    margin: auto;
}

.sort-by {
<<<<<<< HEAD
    margin: 60px auto 60px auto;
=======
    margin: 40px auto 25px auto;
>>>>>>> 263c24ba60d1f2493cc84389b8f7aa5d0d3b7237
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.sort-by button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
<<<<<<< HEAD
}


=======
}
>>>>>>> 263c24ba60d1f2493cc84389b8f7aa5d0d3b7237
