.container {
    margin: auto;
}

.sort-by {
    margin: 60px auto 60px auto;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.sort-by button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}


