.component-header {
    background-color: #000;
    height: 240px;
}

.icon-box {
    display: flex;
}

.component-logo {
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.component-icons {
    order: 1;
    margin: auto 3px 3px auto;
    display: flex;
    margin-right: 10px;
}

.component-icons img {
    width: 36px;
    height: 36px;
}

.btn-icons {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.btn-search {
    margin: 20px 0;
    text-align: center;
    border: none;
    box-sizing: border-box;
    position: relative;
}

.input-search {
    width: 70%;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    background-clip: padding-box;
    outline: none;
    text-align: center;
    background: none;
    color: #fff;
    font-size: 36px;
}

.input-search::placeholder {
    font-size: 36px;
    color: #fff;
    opacity: 0.7;
}

.scrolling-wrapper {
    margin-left: 15%;
    overflow-x: scroll;
    width: 70%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper ul, li {
    padding: 0;
    color: #ddd;
    display: flex;
    font-weight: 700;
    font-size: 15px;
}

.scrolling-wrapper button{
    background: none;
    border: none;
    cursor: pointer;
    color: #ddd;
    font-weight: 700;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .component-header {
        height: 400px;
    }
    .header-name {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 8px;
    }
    .component-icons {
        margin-right: 45px;  
        margin-top: 50px; 
    }
    .component-logo {
        margin-left: 45px;
        margin-top: 50px;
    }
    .input-search {
        margin-top: 2em;
    }
}

@media (max-width: 768px) {
    .header-name {
        display: none;
        margin: auto 0;
    }
}